* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	background: url(../images/login/bj.jpg) no-repeat;
	background-size: 100%;
	font-family: "微软雅黑";
	font-size:62.5% ;
}

.nav {
      margin-top: 23%;
    margin-bottom: 26%;
	
}
input{
   
   background: none!important;;
}
.nav img{
	float: left;
    width: 30%;

}
.logoname p{
	    font-family: -webkit-body!important;
	font-size: 1rem!important;
    margin: 0 0 4px!important;
        color: #0497F5!important;
}
.nav .nav-logo{
	margin-left: 17%;
}
.login_content {
	width: 23%;
	min-width: 400px;
	height: 550px;
	margin: 0 auto;
}

.login_content .login_content_top {
	width: 100%;
	height: 100px;
	background-color: rgba(239, 243, 244, 0.9);
	border-radius: 10px 10px 0 0;
}

.login_content .login_content_top h2 {
	text-align: center;
	line-height: 100px;
	color: #5E5E5E;
}

.login_content .login_content_bottom {
	width: 100%;
	height: 370px;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 0 0 10px 10px;
	padding-top: 80px;
}

.login_content_bottom .resetting {
	width: 75px;
	font-size: 18px;
	text-align: right;
	color: #C0C2C1;
	margin: 15px 40px 0 0;
	float: right;
	cursor: pointer
}

#userName{
	height: 38px!important;
}
#userPwd{
	height: 38px!important;
}

.entry_2 {
	margin-top: 40px;
}

#btUserLogin {
	text-align: center;
    display: block;
    width: 65%;
    height: 45px;
    line-height: 44px;
    background-color: rgba(29, 181, 246, 1);
    border-radius: 32px;
    margin-left: 17%;
    outline: none;
    border: none;
    margin-top: 20px;
    font-size: 20px;
    color: floralwhite;
}

.wrong {
	width: 100%;
	height: 30px;
	margin-top: 10px;
	margin-left: 65px;
	color: red;
}

.wrong img {
	vertical-align: sub;
}

.wrong_1 {
	display: none;
}

.entry {
    width: 65%;
    height: 42px;
    border-radius: 32px;
    margin-left: 17%;
    outline: none;
    border: 1px solid #686868;
}

.entry i {
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	margin-right: 10px;
}
.entry i img{
	width: 20px;
	height: 20px;
}
.gray{
	color: #676767;
}


