@charset "utf-8";
/* CSS Document */
body{ width:100%; height:100%; margin:0; padding:0;}
/*index topbar*/
.TopBox{ width:100%; height:86px; background:url(../../images/style_03/TopBannerBg.jpg) left top no-repeat; overflow:hidden;}
.TopBox .C-logoBox{height:86px; width:40%; float:left; display:inline-block; }
.TopBox .C-logo{ width:100%; height:60px;background:url(../../images/szCloudlogo_w.png)left top no-repeat;}
.TopBox .C-date{ color:#cee5f3; padding:4px 40px;}
.TopBox .C-menuBox{ height:86px; width:60%; float:left;}
.TopBox .C-menuBox .C-searchBar{ width:100%;height:34px;}
.TopBox .C-searchBar .C-search{ width:540px; float:right;z-index:1008; position:absolute; right:40px;}
.TopBox .C-searchBar .C-search ul{width:540px; float:right;}
.TopBox .C-searchBar .C-search li{ list-style:none; float:left; display:inline-block; height:30px; margin-top:4px;}
.TopBox .C-searchBar .SearchText{ width:74px; height:30px; background:url(../../images/style_03/TopSearchTextBg.png); float:left; display:inline-block;  text-align:center;text-align:center;line-height:30px; font-size:14px;color:#cee5f3;}
.TopBox .C-searchBar .SearchInputBox{width:176px; height:30px; background:url(../../images/style_03/TopSearchInputBg.png);float:left; display:inline; margin-left:74px; }
@-moz-document url-prefix(){.TopBox .C-searchBar .SearchInputBox{margin-left:0;}}
.TopBox .C-searchBar .SearchInput{width:170px; height:30px; border:none; background-color:transparent; color:#fff; font-size:14px; padding-left:4px;}
.TopBox .C-searchBar .SearchButton{width:30px; height:30px; background:url(../../images/style_03/TopSearchButton.png); float:left; display:inline; cursor:pointer;}
.TopBox .C-searchBar .SearchButton:hover{ background:url(../../images/style_03/TopSearchButtonHover.png); display:block; width:30px; height:30px;cursor:pointer;}
.TopBox .C-searchBar .C-search li span{ display:block; line-height:30px; font-size:14px; text-align:center; margin-left:2px;}
.TopBox .C-searchBar .C-search li .ma120{ margin-left:120px;}
.TopBox .C-searchBar .C-search li span a,.TopBox .C-searchBar .C-search li span a:visited{ color:#cee5f3; text-decoration:none; display:block;height:30px; width:60px; line-height:30px; float:left; margin-left:2px;}
.TopBox .C-searchBar .C-search li span a:hover{color:#fff; background-color:#0a5d9c; text-decoration:none;display:block;height:30px; width:60px; line-height:30px;}
.TopBox .C-blank{ width:100%;height:22px;}
.TopBox .C-navMenuBox{ width:100%; height:30px;}
.TopBox .C-nav ul{ float:left;width:860px;}
.TopBox .C-nav li{ float:left; display:inline-block; width:100px; height:30px; line-height:30px; background:url(../../images/style_03/TopMenuBgUnselect.png); margin-left:1px; text-align:center; font-size:16px; color:#fff; }
.TopBox .C-nav li a{color:#fff; text-decoration:none; display:block;}
.TopBox .C-nav li a:hover{color:#333; text-decoration:none; background:#fff;}
.TopBox .C-nav li .selected{color:#333; text-decoration:none; background:#fff;}

.TopBox .C-mesBox{float:right; height:30px; font-size:14px; margin-right:44px; margin-left:40px; }
.TopBox .C-mesBox:hover{background-color:#0a5d9c;}
.TopBox .C-mesBox span{ float:left; display:block; text-align:center; padding-left:2px; padding-right:4px;}
.TopBox .C-mesBox span img{ margin-top:4px;}
.TopBox .C-mesBox a{height:30px; line-height:30px; display:block; color:#fff;}

/*content*/
.ContentBox{ width:100%;overflow:auto;}
.C-mainLBox{ width:0%; background:#f6f6f6; float:left; display:none; }
@media (min-width: 767px) {.C-mainLBox{ width:24%; background:#f6f6f6; float:left; display:inline-block; }}
.C-mainLBox .C-LItems{ width:96%;  margin:0 auto;}
.C-mainLBox .C-weather{ margin:6px auto;}
.C-tabBox .Cuser{ margin-top:4px; margin-left:14px; width:186px;}
.C-tabBox .Cuser ul{ float:left; display:inline-block;}
.C-tabBox .Cuser li{ height:26px; line-height:26px;}
.C-tabBox .Cuser li span{ color:#7f8086;}
.C-tabBox .Cphoto{ margin-left:16px; float:left;}

.C-mainRBox{ background-color:#fff; width:100%; float:left;}
@media (min-width: 767px) {.C-mainRBox{ background-color:#fff; width:76%; float:left;}}
.C-mainRBox .chartBox{ margin:10px auto; width:100%;}
.C-mainRBox .chartBox ul{width:100%; float:left;}
.C-mainRBox .chartBox li{ border:#ebebeb 2px solid; background-color:#fafafa; height:240px; width:48%; margin-left:10px; float:left; display:inline-block;}
@media (min-width: 767px) {.C-mainRBox .chartBox li{ border:#ebebeb 2px solid; background-color:#fafafa; height:240px; width:48%; margin-left:10px; float:left; display:inline-block;}}
@media (min-width: 992px) {.C-mainRBox .chartBox li{ border:#ebebeb 2px solid; background-color:#fafafa; height:240px; width:48.4%; margin-left:10px; float:left; display:inline-block;}}
.C-mainRBox .C-panel{ position:relative;margin:10px; width:98%;}
.C-mainRBox .collapsed{ font-weight:normal; cusor:pointer;}
.moreinfo{ float:right;  width:56px;}
.moreinfo .emon{ float:left;display:block; width:16px; height:16px; background:url(../../images/style_03/emoff.png) no-repeat;}
.moreinfo .emoff{ float:left;display:block; width:16px; height:16px; background:url(../../images/style_03/emon.png) no-repeat;}
.moreinfo span{ font-weight:normal;}
/*Arrow*/
.comArrowUp{right:0px; float:right; z-index:1002; position:absolute; width:40px; height:30px;background:url(../../images/style_03/arrowUp.jpg) no-repeat left top; top:0px;cursor:pointer;}
.comArrowDown{right:0px; float:right; z-index:1002; position:absolute; width:40px; height:30px;background:url(../../images/style_03/arrowDown.jpg) no-repeat left top; top:0px;cursor:pointer;}
@media screen and (-webkit-min-device-pixel-ratio:0){.comArrowDown{top:56px;}}
@-moz-document url-prefix(){.comArrowDown{top:56px;}}
/*dropmenu*/
.MenuList{z-index:1000;min-width:860px;float:right;}
.MenuList .navigation-inner{margin:0 auto;position:relative}
.navigation-up{height:30px;width:100%;}
.navigation-up .navigation-v3{float:left;_margin-left:10px;width:100%;}
.navigation-up .navigation-v3 ul{float:left}
.navigation-up .navigation-v3 li{float:left;color:#fff; background:url(../../images/style_03/TopMenuBgUnselect.png); margin-left:1px; display:inline-block; width:100px; height:30px; line-height:30px;text-align:center; font-size:16px; }
.navigation-up .navigation-v3 .nav-up-selected{background:#09558f;}

.navigation-up .navigation-v3 li h2{font-weight:normal;padding:0;margin:0}
.navigation-up .navigation-v3 li h2 a{color:#fff;display:block;height:30px;line-height:30px;font-family:"microsoft yahei";font-size:16px; text-decoration:none;}
.navigation-up .navigation-v3 li .selected{color:#333; text-decoration:none; background:#fff;}

.navigation-down{position:absolute;top:86px;left:0px;width:100%; z-index:1001;}
.navigation-down .nav-down-menu{width:100%;margin:0;background:#fff;position:absolute;top:0px; height:auto;}
.navigation-down .nav-down-menu .navigation-down-inner{position:absolute;}
.navigation-down .nav-down-menu dl{float:left;margin:0;width:160px; border-right:#ccc 1px dotted; overflow:auto;}
.navigation-down .menu-1 dl{margin:0; width:160px;}
.navigation-down .menu-1 dt{font:normal 16px "microsoft yahei";color:#61789e; padding-top:10px;padding-bottom:10px;margin-bottom:10px;}
.navigation-down .menu-1 dd a{color:#333;font:normal 14px/30px "microsoft yahei"; padding-left:16px; display:block;}
.navigation-down .menu-1 dd a:hover{color:#fff;background-color:#0a79c0;}
.navigation-down .menu-2 dd a,.navigation-down .menu-3 dd a{color:#333;font:normal 16px "microsoft yahei";padding-left:20px; }
.navigation-down .menu-1 dd li a{color:#333;font:normal 14px/30px "microsoft yahei"; padding-left:0px; display:inline-block;}
.navigation-down .menu-1 dd li a:hover{color:#f00;background:none;}
.navigation-down .odd{ background-color:#f9fafb;}
.navigation-down .odd dt{ background-color:#09558f; color:#fff; text-align:center;border-right:#ccc 1px dotted;}
.navigation-down .even{ background-color:#fff;}
.navigation-down .even dt{ background:url(../../images/style_03/dropMenuBgR.png) repeat; color:#fff; text-align:center;border-right:#ccc 1px dotted;}

/*tree menu*/
.C-treeMenuBox{ width:200px; height:100%;float:left; margin-left:-100%;display:inline-block;background-color:#f2f5fd; position:absolute; z-index:902;}
.C-contentFrame{ width:100%; height:100%; float:right; overflow:hidden;}

/*tree menu tip*/
.TreeBarTipShow{display:inline-block; height:80px;width:36px; background: url(../../images/TreeHide.png) no-repeat center center #0293e1;}
.TreeBarTipHide{display:inline-block; height:80px;width:36px; background: url(../../images/TreeShow.png) no-repeat center center #0293e1;}

/*contentpage*/

.C-navBarBox{width:98%; margin:10px auto;font-size:16px; height:36px; line-height:36px; background-color:#f7f7f7; padding-left:16px; border:#f1f1f1 1px solid;}
.C-btnGroup{width:98%; margin:4px auto;}
.C-btns{ float:left; height:48px;}
.C-search{ float:right; height:48px;}
.C-search .input-group{ width:410px;}
.C-search .input-group .C-sel{ width:80px; float:left; display:inline-block;}
.C-search .input-group input{ float:left; display:inline-block; width:240px;}
.C-tabBox{width:98%; margin:10px auto;}
.C-tabBox .C-tabList{width:100%; margin:10px auto;}
.C-tabBox .C-control .btn-icon{ display:inline-block; padding-left:8px; border:none; background-color:transparent; color:#0a79c0;}
.C-tabBox .C-control i{ font-size:18px;}
.C-tabBox .C-control .disabled{ border:none; color:#ccc;background-color:transparent;}
.C-pagerBox{width:98%; margin:10px auto;}
.C-pagerBox .CNum{ float:left; display:inline-block; width:200px;line-height:70px;}
.C-pager{float:right;}

.C-modalDialog{ float:left;margin-right:4px;}
.C-addForm{width:98%; margin:10px auto;}
.C-formBody{overflow:auto; background:#fbfbfb;}

.C-tabPages{ margin:10px;}

