<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	default-lazy-init="true"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<import resource="springmvc-jflow.xml"/>
	<!-- 把标记了@Controller注解的类转换为bean -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
						<value>text/html;charset=UTF-8</value>
					</list>
				</property>
			</bean>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;charset=UTF-8</value>
						<value>text/html; charset=UTF-8</value>
					</list>
				</property>
				<property name="objectMapper">
					<bean class="com.fasterxml.jackson.databind.ObjectMapper">
						<property name="dateFormat">
							<bean class="java.text.SimpleDateFormat">
								<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
							</bean>
						</property>
					</bean>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>


	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<!-- 所有的JSP文件都放在WebContent/目录下 -->
	<bean id="viewResolver"
		  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

	<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
		<property name="order" value="1"/>
	</bean>

	<bean id="mappingJacksonJsonView"
		class="org.springframework.web.servlet.view.json.MappingJackson2JsonView"/>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxInMemorySize" value="2048"/>
		<property name="defaultEncoding" value="UTF-8"/>
        <property name="resolveLazily" value="true"/>
	</bean>

	<!-- 设置全局异常处理bean -->
	<bean id="exceptionHandler" class="cn.org.awcp.venson.interceptor.ExceptionHandler"/>

	<context:component-scan base-package="cn.org.awcp" >
		<!-- 只扫描controller -->
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	<!--swagger2Config-->
	<bean class="cn.org.awcp.common.swgger.Swagger2Config" id="swagger2Config"/>

	<mvc:default-servlet-handler />

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/common/file/*.do" />
			<mvc:mapping path="api/common/file/**" />
			<bean class="cn.org.awcp.venson.interceptor.FileUploadInterceptor">
				<!-- 设置上传文件的最大尺寸为50M -->
				<property name="maxSize" value="52428800" />
			</bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.github.miemiedev.mybatis.paginator.springmvc.PageListAttrHandlerInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	<!-- 激活自动代理功能 -->
	<aop:aspectj-autoproxy  proxy-target-class="true"/>
</beans>
