<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
	http://www.springframework.org/schema/context   
	http://www.springframework.org/schema/context/spring-context-3.1.xsd  
	http://www.springframework.org/schema/aop   
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd  
	http://www.springframework.org/schema/tx   
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
	
    
	
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="globalSessionTimeout" value="7200000" />
		<property name="sessionValidationSchedulerEnabled" value="true" /> 
		<property name="sessionValidationScheduler" ref="sessionValidationScheduler"/> 
		<!-- <property name="globalSessionTimeout" value="3600000" />  -->
		<property name="sessionIdCookieEnabled" value="true" />
		<property name="sessionIdCookie" ref="sessionIdCookie" /> 
		<property name="sessionDAO" ref="sessionDAO" />
	</bean>
	<bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator "/>  
	<bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.EnterpriseCacheSessionDAO">  
	    <!--设置Session缓存名字，默认就是shiro-activeSessionCache-->  
	    <property name="activeSessionsCacheName" value="shiro-activeSessionCache"/>  
	    <!-- 用于生成会话ID，默认就是JavaUuidSessionIdGenerator，使用java.util.UUID生成 -->  
	    <property name="sessionIdGenerator" ref="sessionIdGenerator"/>
	    <property name="cacheManager" ref="shiroCacheManager" />  
	</bean> 
	
	<!-- 会话Cookie模板 -->
	<bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
	    <constructor-arg value="sid"/>
	    <property name="httpOnly" value="true"/>
	    <property name="maxAge" value="-1"/>
	    <property name="path" value="/"/>
	</bean>
	
	<bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
	    <constructor-arg value="rememberMe"/>
	    <property name="httpOnly" value="true"/>
	    <property name="maxAge" value="2592000"/><!-- 30天 -->
	    <property name="path" value="/"/>
	</bean>
	
	<!-- 定期验证 -->
	<bean id="sessionValidationScheduler" class="org.apache.shiro.session.mgt.ExecutorServiceSessionValidationScheduler">
	    <property name="interval" value="7200000"/>
	</bean>
	
	 <bean id="securityManager"
        class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroDbRealm" />
        <property name="sessionMode" value="native"/>
        <property name="sessionManager" ref="sessionManager" />  
        <property name="cacheManager" ref="shiroCacheManager" />
    </bean>
    <bean id="kickoutSessionControlFilter"  class="cn.org.awcp.venson.interceptor.KickoutSessionControlFilter">  
	    <property name="cacheManager" ref="shiroCacheManager"/>  
	    <property name="sessionManager" ref="sessionManager"/>  
	    <property name="kickoutAfter" value="false"/>  
	    <property name="maxSession" value="10"/>  
	    <property name="kickoutUrl" value="/login.html"/>  
	</bean>   
    <!-- 用户授权信息Cache, 采用EhCache -->
	<bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<property name="cacheManagerConfigFile" value="classpath:conf/ehcache-shiro.xml"/>
	</bean>
     <!-- 項目自定义的Realm -->
    <bean id="shiroDbRealm" class="cn.org.awcp.unit.shiro.ShiroDbRealm" ></bean>
    
    <!-- Shiro Filter for target system-->
  <bean id="shiroFilter"
        class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <property name="successUrl" value="/systemChoose.do" />
        <property name="unauthorizedUrl" value="/login.do" />
        <property name="loginUrl" value="/login.html" />
        <property name="filters">
        	<map>
		        <entry key="authc">
		          <bean class="cn.org.awcp.unit.shiro.MyAuthorizationFilter"/>
		        </entry>
		        <entry key="kickout" value-ref="kickoutSessionControlFilter" />
		    </map>
        </property>   
        <property name="filterChainDefinitions">
      <!--   <property name="defaultFilterChainDefinitions"> -->
            <value>
            /appLogin.do = anon
            /logout.do = anon
            /anon/*.do =anon
            /logsso.do =anon
            <!-- 钉钉模块免校验 begin -->
            /dingding/config.do =anon
            /dingding/sso.do =anon
            /dingding/eventChangeReceive.do =anon
            <!-- 钉钉模块免校验 end-->
            /common/file/download.do =anon
            /common/file/get.do =anon
            /common/file/showPicture.do =anon
            /common/file/getImage.do =anon
            /common/file/preview.do =anon
            /api/execute/** =anon,kickout
            /wechat/*.do=anon
            /wxPay/jsPayNotify.do=anon
            /wxPay/webNotify.do=anon
            /**/*.do= authc,kickout
            /api/**= authc,kickout
            <!-- 
            /devAdmin/login.do = anon
            /devAdmin/logout.do = anon
            /resources/doc/* =anon
            /devAdmin =anon
            /manageAdmin =anon
            /DES/*.do =anon
            /des/*.do =anon
            /common/file/*.do =anon
            
            
            /login.jsp = anon
            /apps/mobile/oa/login.jsp = anon 
            /devAdmin/login.jsp =anon
            /*.jsp = authc
            /devAdmin/*.jsp = authc
            /unit/**=authc
            /dev/**=authc
            /manage/**=authc
            /document/**=authc
            /fd/**=authc
            /component/**=authc
            /func/**=authc
            /layout/**=authc
            /pfmTemplateController/**=authc
            /print/**=authc
            /cache/** = authc
            /workflow/**=authc
             -->
            </value>
        </property>
    </bean> 
    
    
	<!-- 开启Shiro注解的Spring配置方式的beans。在lifecycleBeanPostProcessor之后运行 -->
    <bean
        class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
        depends-on="lifecycleBeanPostProcessor" />
    <bean
        class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager" />
    </bean>
    
    <bean id="lifecycleBeanPostProcessor"
        class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

    <!-- shiro为集成spring -->
    <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="org.apache.shiro.authz.UnauthorizedException">/login</prop>
            </props>
        </property>
    </bean>
	
 </beans>