@charset "utf-8";
/* CSS Document */
/*common styles*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body {line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
ul,li {list-style:none; vertical-align:middle;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins {background-color:#ff9;color:#000;text-decoration:none;}
mark {background-color:#ff9;color:#000; font-style:italic;font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted;cursor:help;}
table {border-collapse:collapse;border-spacing:0;}
hr {display:block;height:1px;border:0;   border-top:1px solid #ccc;margin:1em 0;padding:0;}

input, select {vertical-align:middle;}
html{_text-overflow:ellipsis;}
body { font:14px/1.5 'Microsoft yahei',"微软雅黑", "宋体", "Simsun", Tahoma, Verdana, Arial, Helvetica, Geneva, sans-serif; color:#333; background:#fff; font-weight:normal; }
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
/* Hides from IE-mac \*/
*html .clearfix {height: 1%;}

.hosheadercontainer{ height:100px; width:100%;}


.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.topbar{height:56px; background-color:#02814e; width:100%;}
.topbarfixed{height:56px;top:0; background-color:#02814e; width:100%;z-index:10;position:fixed;}
.projectname{ width:1140px; text-align:right; margin:0 auto;line-height:60px; height:60px; color:#fff; font-size:24px;}
/*index-page login module*/

.hos-login-container{left:50%; margin-left:-570px;top:100px;position:absolute;z-index:11;height:56px;width:380px}
.hos-login-container .hos-index-loginbg{width:380px;height:56px;margin:0 auto;position:relative;top:0;}
.hos-login-containerfixed{left:50%; margin-left:-570px;top:0px;position:fixed;z-index:11;height:56px;width:380px}

.hos-index-login{width:380px;height:56px;font-family:"微软雅黑";font-size:16px;cursor:pointer;float:left;margin-right:1px; background:url(../images/hos-index-logintitbg1.png);}
.hos-index-login a{ color:#FFF;text-decoration:none;}
.hos-index-login a:hover{ text-decoration:none;}
.hos-index-login h1{ padding-left:30px; font-size:18px;line-height:56px; font-weight:normal;}

.hos-index-login_on{width:380px;height:56px;font-family:"微软雅黑";font-size:16px;cursor:pointer;float:left;margin-right:1px; background:url(../images/hos-index-logintitbg1.png);}
.hos-index-login_on a{color:#fff;text-decoration:none;}
.hos-index-login_on a:hover{color:#fff; text-decoration:none; }
.hos-index-login_on h1{ padding-left:30px; font-size:18px;line-height:56px; font-weight:normal;}

.hos-login-box{width:380px; *width:380px;_width:380px;border-top:none; margin:0 auto; display:none; position:absolute; left:0px; top:56px;z-index:1000; background:url(../images/hos-index-loginbg1.png);filter:alpha(opacity=95);-moz-opacity:0.8;}

.hos-index-login-form{width:380px;height:382px; margin:0;}
.hos-index-login-form ul{ font-weight:bold; height:120px; float:left; text-align:left;margin-right:10px;width:120px;*width:120px;_width:120px;float:left;}
.hos-index-login-form .hos-log-n{margin:28px 0 0 42px;}
.hos-index-login-form .hos-indexlog-n{float:left;display:block; width:56px; height:48px; background-color:#008700; text-align:center; line-height:48px;}
.hos-index-login-form .hos-indexlog-i{width:232px; height:46px; border:none;font-family:"微软雅黑"; font-size:16px;line-height:48px;filter: alpha(opacity=80);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.hos-index-login-form .hos-indexlog-c{ color:#fff;float:left;display:block; width:96px; height:48px; background-color:#008700; text-align:center; line-height:48px;}
.hos-index-login-form .hos-indexlog-ci{width:192px; height:46px; border:none;font-family:"微软雅黑"; font-size:16px;line-height:48px;filter: alpha(opacity=80);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;}

.hos-login-btn{width:288px; height:48px; line-height:48px; text-align:center; margin-top:30px; margin-left:46px; cursor:pointer; background-color:#64c600; color:#fff; }
.hos-login-btn a,.hos-login-btn a:visited{color:#fff; text-decoration:none; display:block;}
.hos-login-btn a:hover{color:#fff; background-color:#008700;}

.hos-login-link{ height:24px; padding:10px 0 0 48px;}
.hos-login-link a,.hos-login-link a:visited{ font-size:14px; color:#333; text-decoration:none;}
.hos-login-link a:hover{ color:#ff8400; text-decoration:none;}
.hos-login-link .hos-m-left{ padding-left:36px;}


.hosslider{ width:100%; height:400px; background:url(../images/hosbanner.jpg) no-repeat center center;}
.hosda{ width:1140px; height:70px; background:url(../images/conPic1.jpg) no-repeat; margin:0 auto; margin-top:6px;}

.newsetcontainer{ width:1100px; background-color:#fcfcfc; border:#f0f0f0 1px solid; margin:0 auto; margin-top:10px; padding:20px;background:url(../images/newdotted.jpg) repeat-y center;}
.newsset{ float:left; display:inline; width:99%; margin:0 auto; }
.newheader{ height:30px; color:#f00 1px solid; font-family:'Microsoft YaHei',Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:16px;border-bottom:#eee 1px solid;}
.newheader a,.newheader a:visited{ color:#333; text-decoration:none;padding-left:4px;}
.newheader a:hover{text-decoration:underline;}
/*.newheader span{ display:block; width:28px; height:30px; float:right; background:url(../images/indexmore.png) no-repeat center center;}*/
.newheader span{float:right;}
.headtitle{ height:30px; line-height:30px; text-align:center; display:inline-block; width:200px;}
.tagorganize{ background:url(../images/indexorganize.png) no-repeat left center;}
.tagcalender{ background:url(../images/indexcalender.png) no-repeat left center;}
.tagannounce{ background:url(../images/indexannounce.png) no-repeat left center;}
.tagwork{ background:url(../images/indexwork.png) no-repeat left center;}
.tagmeeting{ background:url(../images/indexmeeting.png) no-repeat left center;}
.tagemail{ background:url(../images/indexemail.png) no-repeat left center;}
.tagorganizegray{ background:url(../images/indexorganizegray.png) no-repeat left center;}
.tagcalendergray{ background:url(../images/indexcalendergray.png) no-repeat left center;}
.tagannouncegray{ background:url(../images/indexannouncegray.png) no-repeat left center;}
.tagworkgray{ background:url(../images/indexworkgray.png) no-repeat left center;}
.tagmeetinggray{ background:url(../images/indexmeetinggray.png) no-repeat left center;}
.tagemailgray{ background:url(../images/indexemailgray.png) no-repeat left center;}
.newbody ul{ margin-top:6px;}
.newbody li{height:auto; line-height:24px;padding:0 8px;}
.newbody li a,.newbody li a:visited{ text-decoration:none; color:#444; padding-left:6px;}
.newbody li a:hover{ color:#f60;}
.newbody li span{ float:right;}
.blue{color:rgb(71, 143, 202);}



/*rightslider*/
.sider1 {
    background-image: url(../images/sider.png);
    width: 45px;
    height: 45px;
    background-repeat: repeat-x;
    background-position: 0px 0px;
}

    .sider1:hover {
        background-repeat: repeat-x;
        background-position: 0px -55px;
    }

.sider2 {
    background-image: url(../images/sider.png);
    width: 45px;
    height: 45px;
    background-repeat: repeat-x;
    background-position: 0px -110px;
}

    .sider2:hover {
        background-repeat: repeat-x;
        background-position: 0px -165px;
    }

.sider3 {
    background-image: url(../images/sider.png);
    width: 45px;
    height: 45px;
    background-repeat: repeat-x;
    background-position: 0px -220px;
}

    .sider3:hover {
        background-repeat: repeat-x;
        background-position: 0px -275px;
    }

.sider4 {
    background-image: url(../images/sider.png);
    width: 45px;
    height: 45px;
    background-repeat: repeat-x;
    background-position: 0px -330px;
}

    .sider4:hover {
        background-repeat: repeat-x;
        background-position: 0px -385px;
    }

.sider5 {
    background-image: url(../images/sider.png);
    width: 45px;
    height: 45px;
    background-repeat: repeat-x;
    background-position: 0px -440px;
}

    .sider5:hover {
        background-repeat: repeat-x;
        background-position: 0px -495px;
    }
	
.sider6 {
    background-image: url(../images/sider.png);
    width: 45px;
    height: 45px;
    background-repeat: repeat-x;
    background-position: 0px -550px;
}

    .sider6:hover {
        background-repeat: repeat-x;
        background-position: 0px -605px;
    }
	.sider7 {
    background-image: url(../images/sider.png);
    width: 45px;
    height: 45px;
    background-repeat: repeat-x;
    background-position: 0px -660px;
}

    .sider7:hover {
        background-repeat: repeat-x;
        background-position: 0px -715px;
    }
/*copyright module*/
.hos-copy-index{height:220px; background-color:#fff; margin-top:10px; background-color:#f5f5f5;}
.hos-copy-index .hos-copy-index-box{ width:1000px; margin-left:auto; margin-right:auto; margin-top:12px; border-bottom:#dcdcdc 1px solid;}
.hos-copy-index .hos-copy-item{ width:250px; float:left; display:inline; margin-top:12px;}
.hos-copy-index .hos-copy-item .hos-copy-gd-t{ font-size:22px; color:#99999a; font-weight:normal; margin-left:60px;}
.hos-copy-index .hos-copy-item .hos-copy-service-g{ background:url(../images/icon-tel.png) no-repeat; width:100%; height:56px; text-align:center; line-height:56px;}
.hos-copy-index .hos-copy-item .hos-copy-service-g span{color:#a2a2a2; font-size:28px;}
.hos-copy-index .hos-copy-item .hos-bank{ margin-top:4px; border-bottom:#dcdcdc 1px dotted; margin-right:4px;}
.hos-copy-index .hos-copy-item .hos-bank-grid{ overflow:hidden; zoom:1; padding-top:12px;}
.hos-copy-index .hos-copy-item .hos-bank-grid li{ padding:0 16px 8px 0; float:left;}

.hos-icon-boc,.hos-icon-ccb,.hos-icon-icbc,.hos-icon-cmb,.hos-icon-abc,.hos-icon-post,.hos-icon-boco,.hos-icon-spdb,.hos-icon-gdb,.hos-icon-cmbc,.hos-icon-cebb,.hos-icon-cib,.hos-icon-sdb,.hos-icon-pingan{ background:url(../Images/common/hos-icon-bank.gif) no-repeat;display:inline-block;position:relative;height:18px;width:18px;overflow:hidden;line-height:999px;vertical-align:top;}
.hos-bank-cont .hos-icon-boc{background-position:-216px 0px;}
.hos-bank-cont .hos-icon-ccb{background-position:-144px 0px;}
.hos-bank-cont .hos-icon-icbc{background-position:-180px 0px;}
.hos-bank-cont .hos-icon-cmb{background-position:-198px 0px;}
.hos-bank-cont .hos-icon-abc{background-position:-162px 0px;}
.hos-bank-cont .hos-icon-post{background-position:-162px -18px;}
.hos-bank-cont .hos-icon-boco{background-position:-180px -18px;}
.hos-bank-cont .hos-icon-spdb{background-position:-198px -18px;}
.hos-bank-cont .hos-icon-gdb{background-position:-216px -18px;}
.hos-bank-cont .hos-icon-cmbc{background-position:-234px -18px;}
.hos-bank-cont .hos-icon-cebb{background-position:-234px 0px;}
.hos-bank-cont .hos-icon-cib{background-position:-144px -18px;}
.hos-bank-cont .hos-icon-sdb{background-position:-252px -18px;}
.hos-bank-cont .hos-icon-pingan{background-position:-144px -36px;}

.hos-bank-cont .hos-icon-boc:hover{background-position:-72px 0px;}
.hos-bank-cont .hos-icon-ccb:hover{background-position:-0px 0px;}
.hos-bank-cont .hos-icon-icbc:hover{background-position:-36px 0px;}
.hos-bank-cont .hos-icon-cmb:hover{background-position:-54px 0px;}
.hos-bank-cont .hos-icon-abc:hover{background-position:-18px 0px;}
.hos-bank-cont .hos-icon-post:hover{background-position:-18px -18px;}
.hos-bank-cont .hos-icon-boco:hover{background-position:-36px -18px;}
.hos-bank-cont .hos-icon-spdb:hover{background-position:-54px -18px;}
.hos-bank-cont .hos-icon-gdb:hover{background-position:-72px -18px;}
.hos-bank-cont .hos-icon-cmbc:hover{background-position:-90px -18px;}
.hos-bank-cont .hos-icon-cebb:hover{background-position:-90px 0px;}
.hos-bank-cont .hos-icon-cib:hover{background-position:0px -18px;}
.hos-bank-cont .hos-icon-sdb:hover{background-position:-108px -18px;}
.hos-bank-cont .hos-icon-pingan:hover{background-position:0 -36px;}

.hos-copy-index .hos-copy-item .hos-plat{ margin-top:4px; border-bottom:#dcdcdc 1px dotted;}
.hos-copy-index .hos-copy-item .hos-plat-cont{ list-style:none; overflow:hidden; zoom:1; margin-top:8px;}

.hos-logo-alipay{background:#ededed url(../Images/common/hos-platform.png) no-repeat; no-repeat;display:inline-block;width:62px;height:22px;overflow:hidden;vertical-align:top;line-height:999px;}
.hos-logo-alipay{background-position:0 0;}
.hos-logo-alipay:hover{background-position:-58px 0px;}

.hos-copy-index-text{width:1000px; margin-left:auto; margin-right:auto; }
.hos-copy-index-text span{ display:block; height:24px; text-align:center; color:#9c9c9c; height:64px; line-height:28px; margin-top:16px;}
.hos-copy-index-text span a,.hos-copy-index-text span a:visited{color:#9c9c9c; text-decoration:none;}
.hos-copy-index-text span a:hover{color:#4f4f4f; text-decoration:underline;}

#main{padding:20px;}
.platformContainer{width:100%;}
.platformContainer .platLeft{width:50%;float:left;display:block;}
.platformContainer .platRight{width:50%;float:left;display:block;}
.platformContainer .newbody {height:130px;}
.platformContainer .newbody .newsline{background-color:#fafafa;}
.platformContainer .newbody .current{background-color:#e5f2fb;}


.calendercontainer{width:95%; margin-left:2.5%;margin-top:10px;}
.calendercontainer .hhead{ width:140px; color:#fff; height:40px; line-height:40px;border-bottom:#cde1ef 2px solid; width:100%; }
.calendercontainer .hhead a{float:left;color:#fff; text-align:center; text-decoration:none; font-size:16px; padding-left:8px;width:148px; border-bottom:#0b73ba 2px solid; color:#0b73ba;display:block;height:40px;line-height:40px;}
.calendercontainer .hbody{ }

.announceContainer{width:95%;margin-left:2.5%; margin-top:10px; margin-bottom:30px;}
.announceContainer .boxhead{border-bottom:#cde1ef 2px solid;height:40px;}
.announceContainer .modulebg{height:40px; width:148px; display: inline-block; text-align:center; color:#0b73ba; font-size:16px; line-height:36px;}
.announceContainer .more{display:block; width:28px; height:30px; float:right; background:url(../images/indexmore.png) no-repeat center center;}
.announceContainer .morel{display:inline-block; width:28px; height:30px; float:left;left:48%;position:absolute; background:url(../images/indexmore.png) no-repeat center center;}
.announceContainer .boxhead span{border-bottom:#0b73ba 2px solid;}
.announceContainer .boxhead a{text-decoration:none;}
.announceContainer .boxbody{}
.announceContainer .bodyleft{width:49%;float:left;display:block;}
.announceContainer .bodyright{width:49%;float:left;display:block;}
