@charset "utf-8";
/* CSS Document */
body{ width:100%; height:100%; margin:0; padding:0;font-family:MicroSoft Yahei}
/*index topbar*/
.TopBox{ width:100%; height:86px; background-color:#262626; overflow:hidden;}
.TopBox .C-logoBox{height:86px; width:240px; float:left; display:inline-block;margin-left:-120px;left:50%;position:absolute; }
.TopBox .C-logo{ width:100%;/* height:60px; background:url(../images/szCloudlogo_w.png) left top no-repeat; */}
.TopBox .C-logo img{margin:5px 10px 0 10px;}
.TopBox .C-logo .sysname{color:#fff;padding-left:10px;}
.sysname.cn-name{padding-top:15px;font-weight:normal;font-family:MicroSoft Yahei}
.TopBox .C-date{ color:#cee5f3; padding:4px 10px;}
.TopBox .C-date a{color:#cee5f3;font-size:16px;}
.TopBox .C-date a:hover{color:#f60;}
.TopBox .C-menuBox{ height:86px; width:60%; /*float:left;*/}
.TopBox .C-menuBox .C-searchBar{ width:100%;height:34px;}
.TopBox .C-searchBar .C-search{/*  width:540px; */ float:right;z-index:1008; position:absolute; right:40px;}
.TopBox .C-searchBar .C-search ul{/* width:540px; */float:right;}
.TopBox .C-searchBar .C-search li{ list-style:none; float:left; display:inline-block; height:30px; margin-top:4px;}
.TopBox .C-searchBar .SearchText{ width:74px; height:30px; background:url(../images/TopSearchTextBg.png); float:left; display:inline-block;  text-align:center;text-align:center;line-height:30px; font-size:14px;color:#cee5f3;}
.TopBox .C-searchBar .SearchInputBox{width:176px; height:30px; background:url(../images/TopSearchInputBg.png);float:left; display:inline;}
@-moz-document url-prefix(){.TopBox .C-searchBar .SearchInputBox{margin-left:0;}}
.TopBox .C-searchBar .SearchInput{width:170px; height:30px; border:none; background-color:transparent; color:#fff; font-size:14px; padding-left:4px;}
.TopBox .C-searchBar .SearchButton{width:30px; height:30px; background:url(../images/TopSearchButton.png); float:left; display:inline; cursor:pointer;border-radius: 0 5px 5px 0;}
.TopBox .C-searchBar .SearchButton:hover{ background:url(../images/TopSearchButtonHover.png); display:block; width:30px; height:30px;cursor:pointer;}
.TopBox .C-searchBar .C-search li span{ display:block; line-height:30px; font-size:14px; text-align:center; margin-left:2px;}
.TopBox .C-searchBar .C-search li .ma120{ margin-left:120px;}
.TopBox .C-searchBar .C-search li span a,.TopBox .C-searchBar .C-search li span a:visited{ color:#cee5f3; text-decoration:none; display:block;height:30px; width:60px; line-height:30px; float:left; margin-left:2px;}
.TopBox .C-searchBar .C-search li span a:hover{color:#fff; background-color:#0a5d9c; text-decoration:none;display:block;height:30px; width:60px; line-height:30px;}
.TopBox .C-blank{ width:100%;height:22px;}
.TopBox .C-navMenuBox{ width:100%; height:30px;}
.TopBox .C-nav ul{ float:left;width:860px;}
.TopBox .C-nav li{ float:left; display:inline-block; width:100px; height:30px; line-height:30px; background:url(../images/TopMenuBgUnselect.png); margin-left:1px; text-align:center; font-size:16px; color:#fff; }
.TopBox .C-nav li a{color:#fff; text-decoration:none; display:block;}
.TopBox .C-nav li a:hover{color:#333; text-decoration:none; background:#fff;}
.TopBox .C-nav li .selected{color:#333; text-decoration:none; background:#fff;}

.TopBox .C-mesBox{float:right; height:30px; font-size:14px; margin-right:44px; margin-left:40px; }
.TopBox .C-mesBox:hover{background-color:#0a5d9c;}
.TopBox .C-mesBox span{ float:left; display:block; text-align:center; padding-left:2px; padding-right:4px;}
.TopBox .C-mesBox span img{ margin-top:4px;}
.TopBox .C-mesBox a{height:30px; line-height:30px; display:block; color:#fff;}
#LogoBar img{margin-right:10px;}
/*content*/
.ContentBox{ width:100%;overflow:auto;}
.C-mainLBox{ width:0%; background:#f6f6f6; float:left; display:none; }
@media (min-width: 767px) {.C-mainLBox{ width:24%; background:#f6f6f6; float:left; display:inline-block; }}
.C-mainLBox .C-LItems{ width:96%;  margin:0 auto;}
.C-mainLBox .C-weather{ margin:6px auto;}
.C-tabBox .Cuser{ margin-top:4px; margin-left:14px; width:186px;}
.C-tabBox .Cuser ul{ float:left; display:inline-block;}
.C-tabBox .Cuser li{ height:26px; line-height:26px;}
.C-tabBox .Cuser li span{ color:#7f8086;}
.C-tabBox .Cphoto{ margin-left:16px; float:left;}

.C-mainRBox{ background-color:#fff; width:100%; float:left;}
@media (min-width: 767px) {.C-mainRBox{ background-color:#fff; width:76%; float:left;}}
.C-mainRBox .chartBox{ margin:10px auto; width:100%;}
.C-mainRBox .chartBox ul{width:100%; float:left;}
.C-mainRBox .chartBox li{ border:#ebebeb 2px solid; background-color:#fafafa; height:240px; width:48%; margin-left:10px; float:left; display:inline-block;}
@media (min-width: 767px) {.C-mainRBox .chartBox li{ border:#ebebeb 2px solid; background-color:#fafafa; height:240px; width:48%; margin-left:10px; float:left; display:inline-block;}}
@media (min-width: 992px) {.C-mainRBox .chartBox li{ border:#ebebeb 2px solid; background-color:#fafafa; height:240px; width:48.4%; margin-left:10px; float:left; display:inline-block;}}
.C-mainRBox .C-panel{ position:relative;margin:10px; width:98%;}
.C-mainRBox .collapsed{ font-weight:normal; cusor:pointer;}
.moreinfo{ float:right;  width:56px;}
.moreinfo .emon{ float:left;display:block; width:16px; height:16px; background:url(../images/emoff.png) no-repeat;}
.moreinfo .emoff{ float:left;display:block; width:16px; height:16px; background:url(../images/emon.png) no-repeat;}
.moreinfo span{ font-weight:normal;}
/*Arrow*/
.comArrowUp{right:0px; float:right; z-index:1002; position:absolute; width:40px; height:30px;background:#fff no-repeat left top; top:0px;cursor:pointer;}
.comArrowDown{right:0px; float:right; z-index:1002; position:absolute; width:40px; height:30px;background:#fff no-repeat left top; top:0px;cursor:pointer;}
@media screen and (-webkit-min-device-pixel-ratio:0){.comArrowDown{top:56px;}}
@-moz-document url-prefix(){.comArrowDown{top:56px;}}
/*dropmenu*/
.MenuList{z-index:1000;min-width:860px;float:right;}
.MenuList .navigation-inner{margin:0 auto;position:relative}
.navigation-up{height:30px;width:100%;}
.navigation-up .navigation-v3{float:left;_margin-left:10px;width:100%;}
.navigation-up .navigation-v3 ul{float:left}
.navigation-up .navigation-v3 li{float:left;color:#fff; background:url(../images/TopMenuBgUnselect.png); margin-left:1px; display:inline-block; width:100px; height:30px; line-height:30px;text-align:center; font-size:16px; }
.navigation-up .navigation-v3 .nav-up-selected{background:#09558f;}

.navigation-up .navigation-v3 li h2{font-weight:normal;padding:0;margin:0}
.navigation-up .navigation-v3 li h2 a{color:#fff;display:block;height:30px;line-height:30px;font-family:"microsoft yahei";font-size:16px; text-decoration:none;}
.navigation-up .navigation-v3 li .selected{color:#333; text-decoration:none; background:#fff;}

.navigation-down{position:absolute;top:86px;left:0px;width:100%; z-index:1001;}
.navigation-down .nav-down-menu{width:100%;margin:0;background:#fff;position:absolute;top:0px; height:auto;}
.navigation-down .nav-down-menu .navigation-down-inner{position:absolute;}
.navigation-down .nav-down-menu dl{float:left;margin:0;width:160px; border-right:#ccc 1px dotted; overflow:auto;}
.navigation-down .menu-1 dl{margin:0; width:160px;}
.navigation-down .menu-1 dt{font:normal 16px "microsoft yahei";color:#61789e; padding-top:10px;padding-bottom:10px;margin-bottom:10px;}
.navigation-down .menu-1 dd a{color:#333;font:normal 14px/30px "microsoft yahei"; padding-left:16px; display:block;}
.navigation-down .menu-1 dd a:hover{color:#fff;background-color:#0a79c0;}
.navigation-down .menu-2 dd a,.navigation-down .menu-3 dd a{color:#333;font:normal 16px "microsoft yahei";padding-left:20px; }
.navigation-down .menu-1 dd li a{color:#333;font:normal 14px/30px "microsoft yahei"; padding-left:0px; display:inline-block;}
.navigation-down .menu-1 dd li a:hover{color:#f00;background:none;}
.navigation-down .odd{ background-color:#f9fafb;}
.navigation-down .odd dt{ background-color:#09558f; color:#fff; text-align:center;border-right:#ccc 1px dotted;}
.navigation-down .even{ background-color:#fff;}
.navigation-down .even dt{ background:url(../images/dropMenuBgR.png) repeat; color:#fff; text-align:center;border-right:#ccc 1px dotted;}

/*tree menu*/
.C-treeMenuBox{ width:200px; height:100%;float:left; margin-left:-100%;display:inline-block;background-color:#f2f5fd; position:absolute; z-index:902;}
.C-contentFrame{ width:100%; height:100%; float:right; overflow:hidden;background-color:#f1f1f1;}
.setting a {display: block;height:24px;line-height:24px;text-align:center;color: #f1f1f1;text-decoration: none;}
/*tree menu tip*/
.TreeBarTipShow{display:inline-block; height:80px;width:36px; background: url(../images/TreeHide.png) no-repeat center center #0293e1;}
.TreeBarTipHide{display:inline-block; height:80px;width:36px; background: url(../images/TreeShow.png) no-repeat center center #0293e1;}

/*contentpage*/
#ClCache{display:none;}
.C-navBarBox{width:98%; margin:10px auto;font-size:16px; height:36px; line-height:36px; background-color:#f7f7f7; padding-left:16px; border:#f1f1f1 1px solid;}
.C-btnGroup{width:98%; margin:4px auto;}
.C-btns{ float:left; height:48px;}
.C-search{ float:right; height:48px;}
.C-search .input-group{ width:410px;}
.C-search .input-group .C-sel{ width:80px; float:left; display:inline-block;}
.C-search .input-group input{ float:left; display:inline-block; width:240px;}
.C-tabBox{width:98%; margin:10px auto;}
.C-tabBox .C-tabList{width:100%; margin:10px auto;}
.C-tabBox .C-control .btn-icon{ display:inline-block; padding-left:8px; border:none; background-color:transparent; color:#0a79c0;}
.C-tabBox .C-control i{ font-size:18px;}
.C-tabBox .C-control .disabled{ border:none; color:#ccc;background-color:transparent;}
.C-pagerBox{width:98%; margin:10px auto;}
.C-pagerBox .CNum{ float:left; display:inline-block; width:200px;line-height:70px;}
.C_pager{float:right;padding-right:20px;}

.C-modalDialog{ float:left;margin-right:4px;}
.C-addForm{width:98%; margin:10px auto;}
.C-formBody{overflow:auto; background:#fbfbfb;}

.C-tabPages{ margin:10px;}

/* .C-bar{position: absolute;top:40%;left: 200px;cursor:pointer;width: 10px;height: 30px;line-height: 30px;text-align: center;background: #000;color: #fff;border-radius:0 4px 4px 0;border:1px solid #000;border-left:none;}
.C-bar:hover{box-shadow: 1px 0 8px #000;} */

.departInfo{width:100%;height:104px;}
.departInfo .headInfo{width:100%;height:104px;margin:6px auto;}
.departInfo .headInfo li{float:left;display:inline-block;}
.departInfo .headInfo li p{color:#fff;height:24px; line-height:24px;padding-left:2px;}
.departInfo .headInfo li p span{color:#ddd;}
.departInfo .headInfo img{background-color:#eee;opacity:80;}
.departInfo .bodyInfo{}
.departInfo .bodyInfo p{color:#eee;height:24px; line-height:24px;padding-left:4px;}
.ztree li span.button.icon10342_ico_open, .ztree li span.button.icon10342_ico_close{margin-right:2px; background: url(../images/treeicon/10342.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

.ztree li span.button.icon10342_ico_docu{margin-right:2px; background: url(../images/treeicon/10342.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10394_ico_docu{margin-right:2px; background: url(../images/treeicon/10394.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10395_ico_docu{margin-right:2px; background: url(../images/treeicon/10395.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10344_ico_docu{margin-right:2px; background: url(../images/treeicon/10344.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10345_ico_docu{margin-right:2px; background: url(../images/treeicon/10345.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10346_ico_docu{margin-right:2px; background: url(../images/treeicon/10346.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10347_ico_open, .ztree li span.button.icon10347_ico_close{margin-right:2px; background: url(../images/treeicon/10347.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10347_ico_docu{margin-right:2px; background: url(../images/treeicon/10347.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10356_ico_docu{margin-right:2px; background: url(../images/treeicon/10356.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10357_ico_docu{margin-right:2px; background: url(../images/treeicon/10357.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10348_ico_open, .ztree li span.button.icon10348_ico_close{margin-right:2px; background: url(../images/treeicon/10348.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10348_ico_docu{margin-right:2px; background: url(../images/treeicon/10348.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10358_ico_docu{margin-right:2px; background: url(../images/treeicon/10358.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10359_ico_docu{margin-right:2px; background: url(../images/treeicon/10359.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10360_ico_docu{margin-right:2px; background: url(../images/treeicon/10360.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10383_ico_docu{margin-right:2px; background: url(../images/treeicon/10383.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10422_ico_docu{margin-right:2px; background: url(../images/treeicon/10422.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10423_ico_docu{margin-right:2px; background: url(../images/treeicon/10423.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10349_ico_open, .ztree li span.button.icon10349_ico_close{margin-right:2px; background: url(../images/treeicon/10349.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10349_ico_docu{margin-right:2px; background: url(../images/treeicon/10349.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10438_ico_docu{margin-right:2px; background: url(../images/treeicon/10438.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10439_ico_docu{margin-right:2px; background: url(../images/treeicon/10439.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10350_ico_open, .ztree li span.button.icon10350_ico_close{margin-right:2px; background: url(../images/treeicon/10350.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10350_ico_docu{margin-right:2px; background: url(../images/treeicon/10350.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10361_ico_open, .ztree li span.button.icon10361_ico_close{margin-right:2px; background: url(../images/treeicon/10361.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10361_ico_docu{margin-right:2px; background: url(../images/treeicon/10361.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10363_ico_docu{margin-right:2px; background: url(../images/treeicon/10363.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10388_ico_docu{margin-right:2px; background: url(../images/treeicon/10388.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10362_ico_open, .ztree li span.button.icon10362_ico_close{margin-right:2px; background: url(../images/treeicon/10362.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10362_ico_docu{margin-right:2px; background: url(../images/treeicon/10362.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10377_ico_docu{margin-right:2px; background: url(../images/treeicon/10377.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10385_ico_docu{margin-right:2px; background: url(../images/treeicon/10385.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10387_ico_docu{margin-right:2px; background: url(../images/treeicon/10387.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10351_ico_open, .ztree li span.button.icon10351_ico_close{margin-right:2px; background: url(../images/treeicon/10426.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10351_ico_docu{margin-right:2px; background: url(../images/treeicon/10426.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10425_ico_docu{margin-right:2px; background: url(../images/treeicon/10425.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10426_ico_open, .ztree li span.button.icon10426_ico_close{margin-right:2px; background: url(../images/treeicon/10426.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10426_ico_docu{margin-right:2px; background: url(../images/treeicon/10426.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10427_ico_docu{margin-right:2px; background: url(../images/treeicon/10427.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10428_ico_docu{margin-right:2px; background: url(../images/treeicon/10428.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10432_ico_docu{margin-right:2px; background: url(../images/treeicon/10432.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10442_ico_docu{margin-right:2px; background: url(../images/treeicon/10442.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10352_ico_open, .ztree li span.button.icon10352_ico_close{margin-right:2px; background: url(../images/treeicon/10352.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10352_ico_docu{margin-right:2px; background: url(../images/treeicon/10352.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10368_ico_docu{margin-right:2px; background: url(../images/treeicon/10368.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10440_ico_docu{margin-right:2px; background: url(../images/treeicon/10440.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10441_ico_docu{margin-right:2px; background: url(../images/treeicon/10441.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10353_ico_open, .ztree li span.button.icon10353_ico_close{margin-right:2px; background: url(../images/treeicon/10353.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10353_ico_docu{margin-right:2px; background: url(../images/treeicon/10353.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10416_ico_docu{margin-right:2px; background: url(../images/treeicon/10416.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10417_ico_docu{margin-right:2px; background: url(../images/treeicon/10417.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10420_ico_docu{margin-right:2px; background: url(../images/treeicon/10420.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10414_ico_docu{margin-right:2px; background: url(../images/treeicon/10414.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10415_ico_docu{margin-right:2px; background: url(../images/treeicon/10415.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10391_ico_docu{margin-right:2px; background: url(../images/treeicon/10391.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon70000_ico_open{margin-right:2px; background: url(../images/treeicon/70001.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon70000_ico_close{margin-right:2px; background: url(../images/treeicon/70000.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon70000_ico_docu{margin-right:2px; background: url(../images/treeicon/70000.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10354_ico_open, .ztree li span.button.icon10354_ico_close{margin-right:2px; background: url(../images/treeicon/10354.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10354_ico_docu{margin-right:2px; background: url(../images/treeicon/10354.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10372_ico_docu{margin-right:2px; background: url(../images/treeicon/10372.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10371_ico_docu{margin-right:2px; background: url(../images/treeicon/10371.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10402_ico_docu{margin-right:2px; background: url(../images/treeicon/10402.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10436_ico_open, .ztree li span.button.icon10436_ico_close{margin-right:2px; background: url(../images/treeicon/10436.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10436_ico_docu{margin-right:2px; background: url(../images/treeicon/10436.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10355_ico_open, .ztree li span.button.icon10355_ico_close{margin-right:2px; background: url(../images/treeicon/10355.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10355_ico_docu{margin-right:2px; background: url(../images/treeicon/10355.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10373_ico_docu{margin-right:2px; background: url(../images/treeicon/10373.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10403_ico_docu{margin-right:2px; background: url(../images/treeicon/10403.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10384_ico_docu{margin-right:2px; background: url(../images/treeicon/10384.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10372_ico_docu{margin-right:2px; background: url(../images/treeicon/10372.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10371_ico_docu{margin-right:2px; background: url(../images/treeicon/10371.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10402_ico_docu{margin-right:2px; background: url(../images/treeicon/10402.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10436_ico_docu{margin-right:2px; background: url(../images/treeicon/10436.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10355_ico_docu{margin-right:2px; background: url(../images/treeicon/10355.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10373_ico_docu{margin-right:2px; background: url(../images/treeicon/10373.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10403_ico_docu{margin-right:2px; background: url(../images/treeicon/10403.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10384_ico_docu{margin-right:2px; background: url(../images/treeicon/10384.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10386_ico_docu{margin-right:2px; background: url(../images/treeicon/10386.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10397_ico_open{margin-right:2px; background: url(../images/treeicon/10397.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10397_ico_close{margin-right:2px; background: url(../images/treeicon/10397.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10397_ico_docu{margin-right:2px; background: url(../images/treeicon/10397.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10398_ico_docu{margin-right:2px; background: url(../images/treeicon/10398.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10399_ico_docu{margin-right:2px; background: url(../images/treeicon/10399.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10400_ico_docu{margin-right:2px; background: url(../images/treeicon/10400.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10401_ico_docu{margin-right:2px; background: url(../images/treeicon/10401.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10404_ico_docu{margin-right:2px; background: url(../images/treeicon/10404.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10407_ico_docu{margin-right:2px; background: url(../images/treeicon/10407.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10408_ico_docu{margin-right:2px; background: url(../images/treeicon/10408.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10457_ico_docu{margin-right:2px; background: url(../images/treeicon/10408.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10443_ico_docu{margin-right:2px; background: url(../images/treeicon/10443.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10409_ico_docu{margin-right:2px; background: url(../images/treeicon/10409.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10410_ico_docu{margin-right:2px; background: url(../images/treeicon/10410.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10431_ico_docu{margin-right:2px; background: url(../images/treeicon/10431.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10434_ico_docu{margin-right:2px; background: url(../images/treeicon/10434.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10435_ico_docu{margin-right:2px; background: url(../images/treeicon/10435.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10437_ico_docu{margin-right:2px; background: url(../images/treeicon/10437.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10446_ico_docu{margin-right:2px; background: url(../images/treeicon/10446.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10448_ico_docu{margin-right:2px; background: url(../images/treeicon/10448.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10451_ico_docu{margin-right:2px; background: url(../images/treeicon/10451.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10452_ico_docu{margin-right:2px; background: url(../images/treeicon/10452.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10453_ico_docu{margin-right:2px; background: url(../images/treeicon/10453.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10455_ico_docu{margin-right:2px; background: url(../images/treeicon/10455.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10456_ico_docu{margin-right:2px; background: url(../images/treeicon/10456.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10460_ico_docu{margin-right:2px; background: url(../images/treeicon/10460.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10461_ico_docu{margin-right:2px; background: url(../images/treeicon/10461.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10462_ico_docu{margin-right:2px; background: url(../images/treeicon/10462.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10464_ico_docu{margin-right:2px; background: url(../images/treeicon/10464.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon88888_ico_docu{margin-right:2px; background: url(../images/treeicon/88888.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon99999_ico_docu{margin-right:2px; background: url(../images/treeicon/99999.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10404_ico_docu{margin-right:2px; background: url(../images/treeicon/00000.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10408_ico_docu{margin-right:2px; background: url(../images/treeicon/00000.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10443_ico_docu{margin-right:2px; background: url(../images/treeicon/00000.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10409_ico_docu{margin-right:2px; background: url(../images/treeicon/00000.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10431_ico_docu{margin-right:2px; background: url(../images/treeicon/00000.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10435_ico_docu{margin-right:2px; background: url(../images/treeicon/00000.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10437_ico_docu{margin-right:2px; background: url(../images/treeicon/00000.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10410_ico_docu{margin-right:2px; background: url(../images/treeicon/00000.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10434_ico_docu{margin-right:2px; background: url(../images/treeicon/00000.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10465_ico_docu{margin-right:2px; background: url(../images/treeicon/10465.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10466_ico_docu{margin-right:2px; background: url(../images/treeicon/10466.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10468_ico_docu{margin-right:2px; background: url(../images/treeicon/10468.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10472_ico_docu{margin-right:2px; background: url(../images/treeicon/10384.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}
.ztree li span.button.icon10473_ico_docu{margin-right:2px; background: url(../images/treeicon/10473.png) no-repeat scroll 0 0 transparent; vertical-align:top; *vertical-align:middle}

.navbar-collapse{width:100%;left: 0px; clear: both; display: block;margin-top:24px;}
.CloudMenu{}
.departdivide{width:100%;height:16px; background:url(../images/indexdepartdivide.png) no-repeat;left: 0px; clear: both; margin-top: 26px; display: block; }
.normalmenucontainer{}
.normalheader{width:90%;margin:0 auto;}
.normalheader ul{width:100%;}
.normalheader li{float:left;display:inline-block;height:16px;color:#ccdce9;}
.normalheader .line{background:url(../images/departline.png)left center repeat-x;width:110px;}
.normalheader .icoplus{width:16px;height:16px;background:url(../images/departplus.png);cursor:pointer;}
.normalheader .icominius{width:16px;height:16px;background:url(../images/departminius.png);cursor:pointer;}

.normalbody{width:90%;margin:0 auto;margin-top:10px;}
/*浮动菜单*/
	.tQ0{position:absolute;left:14px;bottom:14px;z-index:20000}
	.qo0{width:52px;height:52px;position:absolute;left:-9px;bottom:-9px;cursor:pointer;outline:0}
	.nN0{background-color:RGBA(0,0,0,.4)}
	.sQ0{position:absolute;left:20px;bottom:9px;z-index:20;width:66px;height:32px;background:url(../images/winmenubg.png);border-radius:32px;box-shadow:0 0 10px RGBA(0,0,0,.5);text-align:center;line-height:32px;color:#cde1ef;}
	.qo0:hover .sQ0{box-shadow:0 0 15px RGBA(0,0,0,.7)}
	.sQ0{-webkit-transition-property:box-shadow,border-radius;-moz-transition-property:box-shadow,border-radius;-ms-transition-property:box-shadow,border-radius;-o-transition-property:box-shadow,border-radius;transition-property:box-shadow,border-radius;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-ms-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s}
	.qo0:hover .nN0,.nN0{border:2px solid #fff;border-width:0 2px 2px;width:96px;height:30px;border-top-right-radius:0;border-top-left-radius:0;border-bottom-right-radius:12px;border-bottom-left-radius:12px;box-shadow:0 3px 5px RGBA(0,0,0,.5);left:7px;bottom:7px;color:#fff;text-align:center;line-height:24px;}
	.qt0{position:absolute;width:4px;height:4px;line-height:0;font-size:0;background-color:#91de87;border:1px solid #91de87;left:9px;top:9px}
	.ok0{border-top-left-radius:2px;border-top-right-radius:2px;border-bottom-left-radius:2px}
	.od0{left:17px;background-color:#f6cb4c;border-color:#f6cb4c;border-top-left-radius:2px;border-top-right-radius:2px;border-bottom-right-radius:2px}
	.nX0{top:17px;background:none!important;border-color:#61bded;border-top-left-radius:2px;border-bottom-left-radius:2px;border-bottom-right-radius:2px}
	.nP0{left:17px;top:17px;background-color:#e69d9e;border-color:#e69d9e;border-top-right-radius:2px;border-bottom-left-radius:2px;border-bottom-right-radius:2px}
	.nq0{-webkit-transition-property:all;-moz-transition-property:all;-ms-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.5s;-moz-transition-duration:.5s;-ms-transition-duration:.5s;-o-transition-duration:.5s;transition-duration:.5s}
	.sb0{-webkit-transition-property:all;-moz-transition-property:all;-ms-transition-property:all;-o-transition-property:all;transition-property:all;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-ms-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s}
	.sb0{width:0;height:0;overflow:hidden;position:absolute;zoom:1;z-index:15;
	background:url(../images/winmenubg.png);
    border-radius:5px;left:5px;bottom:5px}
	.pd1,.qv1{overflow:visible;border:2px solid #fff}
	.iW0{width:189px;height:497px;left:-2px;bottom:28px;border-bottom-left-radius:0;border-bottom:0}
	.nB1{width:100%;height:100%;overflow:hidden;margin:0;padding:0}
	.nK0{overflow:hidden;position:relative}
	.ta0,.nK0{display:none}
	.iW0 .nK0{margin:10px 0}
	.iW0 .gR2{display:block;opacity:1}
	.oK0{cursor:pointer;float:left;width:90px;height:90px;margin:8px;line-height:0;display:inline}
	.iW0 .oK0{margin:0;margin-left:7px;height:41px;width:176px;position:relative}
	.iy0,.hJ0,.oK0:hover{background-color:RGBA(0,0,0,.2);border:1px solid RGBA(255,255,255,.5);border-radius:4px}
	.iW0 .hJ0,.iW0 .oK0:hover{height:39px;width:174px}
	.oK0 .gApps-productIco{width:32px;height:32px;cursor:pointer}
	.iW0 .gApps-productIco{position:absolute;left:12px;top:5px}
	.iW0 .hJ0 .gApps-productIco,.iW0 .oK0:hover .gApps-productIco{left:11px;top:4px}
	.id0{line-height:normal;color:#ccc;position:relative}
	.id0 span{color:#fafafa;}
	.iW0 .id0{position:absolute;left:60px;top:12px}
	.iW0 .hJ0 .id0,.iW0 .oK0:hover .id0{left:59px;top:11px}
	.mb0{-webkit-transition-property:width,height;-moz-transition-property:width,height;-ms-transition-property:width,height;-o-transition-property:width,height;transition-property:width,height;-webkit-transition-duration:.3s;-moz-transition-duration:.3s;-ms-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s}
	.mb0{position:absolute;line-height:0;font-size:0;height:0;border-bottom:2px solid #fff}
	.mb0{width:0}
	.sb0 .mb0,.sb0 .mt0{opacity:0}
	.qv1 .mb0,.qv1 .mt0{opacity:1}
	.mt0{box-shadow:0 0 5px RGBA(0,0,0,.5);position:absolute;width:100%;height:100%}
	.sb0 .mb0,.sb0 .mt0{opacity:0}
	.qv1 .mb0,.qv1 .mt0{opacity:1}
	.iW0 .jm0{box-shadow:0 -2px 5px RGBA(0,0,0,.3);height:5px;top:-2px;left:0}
	.iW0 .jn0{box-shadow:-2px 0 5px RGBA(0,0,0,.3);height:101%;width:5px;top:0;left:-2px}
	.iW0 .jo0{box-shadow:2px 0 5px RGBA(0,0,0,.3);width:5px;top:0;right:-2px}
	.iW0 .mb0{width:94px;bottom:0;left:92px;box-shadow:0 2px 5px RGBA(0,0,0,.5)}
	/*platform menu*/
.iconResiSign{
	background:url(../images/iconResiSign.png) no-repeat center center;
}


.iconResiPermit{
	background:url(../images/iconResiPermit.png) no-repeat center center;
}


.iconResiEndorsement{
	background:url(../images/iconResiEndorsement.png) no-repeat center center;
}


.iconResiMes{
	background:url(../images/iconResiMes.png) no-repeat center center;
}


.iconResiTalk{
	background:url(../images/iconResiTalk.png) no-repeat center center;
}


.iconResiNotice{
	background:url(../images/iconResiNotice.png) no-repeat center center;
}


.iconResiUser{
	background:url(../images/iconResiUser.png) no-repeat center center;
}


.iconResiSite{
	background:url(../images/iconResiSite.png) no-repeat center center;
}


.iconResiSystem{
	background:url(../images/iconResiSystem.png) no-repeat center center;
}


.iconResiDefault{
	background:url(../images/iconResiDefault.png) no-repeat center center;
}
#hosnotice span{color:#109eef;}
#hosnotice .linegray{background-color:#fafafa;}
#hosnotice li{height:26px;line-height:26px;}
.iconcalender{margin-top:5px;margin-left:4px;width:16px;height:16px;float:left;display:inline-block;background:url(../images/iconcalender.png) no-repeat center center;}
.iconmeeting{margin-top:5px;margin-left:4px;width:16px;height:16px;float:left;display:inline-block;background:url(../images/iconmeeting.png) no-repeat center center;}
.iconemail{margin-top:5px;margin-left:4px;width:16px;height:16px;float:left;display:inline-block;background:url(../images/iconemail.png) no-repeat center center;}
.icontask{margin-top:5px;margin-left:4px;width:16px;height:16px;float:left;display:inline-block;background:url(../images/icontask.png) no-repeat center center;}
.iconannounce{margin-top:5px;margin-left:4px;width:16px;height:16px;float:left;display:inline-block;background:url(../images/iconannounce.png) no-repeat center center;}
.iconworkflow{margin-top:5px;margin-left:4px;width:16px;height:16px;float:left;display:inline-block;background:url(../images/iconworkflow.png) no-repeat center center;}