@CHARSET "UTF-8";

html,body{background-color:#666; width:100%;height:100%;}
table{border:#666 2px solid;}
td{font-size:16px;border-right:#666 2px solid;border-bottom:#666 2px solid; padding:4px;text-align:center;vertical-align:middle;}
.container{ background-color:#fff; padding:40px;margin-top:40px;margin-bottom:10px;-webkit-box-shadow:0 0 20px #000;  
  -moz-box-shadow:0 0 20px #000;  
  box-shadow:0 0 20px #000; }
.toolbar{ margin:0; width:100%; height:30px; background:url(../images/workflowtoolbg.jpg)no-repeat left; position:fixed; top:0px;z-index:9999;}
.border-none{border:none;}
.itembarbg{background:url(../images/workflowitem_bg.jpg) repeat-x; width:100%;height:40px;margin:16px 0;}
.itembar1{background:url(../images/workflow_tag1.jpg) no-repeat; width:109px;height:40px;float:left;}
.editplus{width:220px; height:27px;float:right;margin-right:-6px;}
.editplus li{float:left;display:inline-block;margin-left:4px;}
.editplus .edit{width:92px;height:28px;background:url(../images/workflowedit.png) no-repeat;}
.editplus .delete{width:92px;height:28px;background:url(../images/workflowdel_edit.png) no-repeat;}
.editplus a{display:block;height:26px;}
.itembar2{background:url(../images/workflow_tag2.jpg) no-repeat; width:109px;height:40px;float:left;}
.filetype{font-size:16px;}
.uploadbtnbg{height:28px;width:100%;}
.uploadbtn{height:28px;width:100px;float:right;background:url(../images/workflowupfile.png) no-repeat;}
.uploadbtn a{display:block;height:26px;}
.toolbar ul{height:30px;line-height:30px;margin-left:auto;margin-right:right;}
.toolbar li{width:90px;float:left;display:inline-block;}
.barcontainer{position:relative;mini-width:920px;margin-left:auto;margin-right:auto;}
.barcontainer span{width:28px;height:28px;float:left;display:inline-block;padding-right:4px;}
.barcontainer .quit{background:url(../images/workflowleave.png) no-repeat;}
.barcontainer .save{background:url(../images/workflowsave.png) no-repeat;}
.barcontainer .tree{background:url(../images/workflowtree.png) no-repeat;}
.barcontainer .print{background:url(../images/workflowprint.png) no-repeat;}
.barcontainer .send{background:url(../images/workflowsend.png)  no-repeat;}
.barcontainer .state{background:url(../images/workflowstate.png)  no-repeat;}
.barcontainer .search{background:url(../images/workflowsearch.png)  no-repeat;}
.barcontainer a,.barcontainer a:visited{color:#333;}
.barcontainer a:hover{color:#f60;}
@media (min-width:1200px){.barcontainer{max-width:1160px;}}@media (min-width:992px){.barcontainer{max-width:960px;}}@media (min-width:768px){.barcontainer{max-width:740px;}}