<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<link rel="stylesheet"
	href="../../../../resources/plugins/zui/dist/css/zui.min.css" />
<link rel="stylesheet"
	href="../../../../resources/styles/main.css" />
<link rel="stylesheet"
	href="../../../../base/resources/artDialog/css/ui-dialog.css" />
<link rel="stylesheet"
	href="../../../../resources/plugins/tips/tip-yellowsimple/tip-yellowsimple.css"
	type="text/css" />
<!--[if lt IE 9]>	  <script src="http://localhost:8080/szcloud/resources/plugins/zui/assets/html5shiv.js"></script>
  <script src="http://localhost:8080/szcloud/resources/plugins/zui/assets/respond.js"></script>	<![endif]-->
</head>
<body id="main">
	<form class="form-horizontal form-condensed" role="customForm">
		<div class="row" id="breadcrumb">
			<ul class="breadcrumb">
				<li><i class="icon-location-arrow icon-muted"></i></li>
				<li><a href="#">首页</a></li>
				<li><a href="#">组织机构与权限</a></li>
				<li class="active">菜单编辑</li>
			</ul>
		</div>
		<div class="row" id="buttons">
			<button id='3f6513ce-fe1d-41f5-a1a6-b1fda85e24d5' title=''
				class='btn btn-info'>
				<i class='icon-save'></i> 保存
			</button>

		</div>
		<div class="row" id="dataform">
			<form class="form-horizontal" id="groupForm" action="http://localhost:8080/szcloud/document/excute.do"	method="post">
				<input type="hidden" name="docId" value="" id="docId" /> <input
					type="hidden" name="dynamicPageId" value="62" id="dynamicPageId" />
				<input type="hidden" name="workflowId" value="" id="workflowId" /> <input
					type="hidden" name="actId" value="" id="actId" /> <input
					type="hidden" name="update" value="false" id="update" /> <input
					type="hidden" name="dynamicPageName" value="请假单"
					id="dynamicPageName" />


				<div class="form-group">


					<div class="col-sm-6">
						<label class="control-label"> ID </label>
					</div>

					<div class="col-sm-6">

						<input type='text' class='
						form-control
		'
							name='quickData1419233944695' value=""
							id='f523b606-23c4-4498-b701-80c63537c97e' />
					</div>
				</div>


				<div class="form-group">


					<div class="col-sm-6">

						<label class="control-label"> 请假人 </label>
					</div>

					<div class="col-sm-6">

						<input type='text' class='
		form-control
	'
							name='quickData1419233944654' value=""
							id='744a753d-5e66-42e4-8117-d3da878d35dd' />
					</div>
				</div>


				<div class="form-group">


					<div class="col-sm-6">

						<label class="control-label"> 请假原因 </label>
					</div>

					<div class="col-sm-6">

						<input type='text' class='form-control'	name='quickData1419233944676' value=""	id='fbc3299f-4535-4bf6-9b97-9fbab24965aa' />
					</div>
				</div>
			</form>
		</div>
		</div>
		<script type="text/javascript"
			src="../../../../resources/JqEdition/jquery-1.10.2.js"></script>
		<script type="text/javascript"
			src="../../../../resources/plugins/zui/dist/js/zui.js"></script>
		<script type="text/javascript"
			src="../../../../base/resources/artDialog/dist/dialog-plus-min.js"></script>
		<script type="text/javascript"
			src="../../../../resources/plugins/tips/jquery.poshytip.js"></script>
		<script type="text/javascript"
			src="../../../../resources/plugins/formValidator4.1.0/formValidator-4.1.0.a.js"
			charset="UTF-8"></script>
		<script type="text/javascript"
			src="../../../../resources/plugins/formValidator4.1.0/formValidatorRegex.js"
			charset="UTF-8"></script>
		<script type="text/javascript"
			src="../../../../resources/scripts/common.js"></script>
		<script type="text/javascript"
			src="../../../../resources/scripts/platform.document.js"></script>
		<script type="text/javascript">
			$(document).ready({});
			$("#3f6513ce-fe1d-41f5-a1a6-b1fda85e24d5").click(function() {
				actRun("3f6513ce-fe1d-41f5-a1a6-b1fda85e24d5");
			});
		</script>
</body>
</html>