.hidden {
  display: none !important;
  visibility: hidden !important;
}
html,body{
		width:100%;
		heigth:100%;
}
td{
	font-size:14px;
}
.save{
	backgroud-color:blue;
}
#buttons button{
	width:100%;
	margin:0px;
	color:#fff;
	background-color:#f1a325;
}
#buttons button:hover{
	background-color:#3377cb;
}
#buttons  .mbtn_2024:hover, .mbtn_2018:hover, .mbtn_2025:hover, .mbtn_2019:hover{
	background:#2852bb;
}
#buttons  .mbtn_2001{
	background-color:#3280FC;
	font-size:15px;
}
#buttons  .mbtn_2001:visited{
	background-color:#3280FC;
}
#buttons  .mbtn_2002{
	background-color:#BCBCBC;
	font-size:15px;
}
#buttons  .mbtn_2002:visited{
	background-color:#BCBCBC;
}
#buttons  .mbtn_2003{
	background-color:#EA644A;
	font-size:15px;
}
#buttons  .mbtn_2003:visited{
	background-color:#EA644A;
}
#buttons .mbtn_2008{
	background-color:#3280FC;
	font-size:15px;
}
#buttons .mbtn_2008:visited{
	background-color:#3280FC;
}
#buttons .mbtn_2011{
	background-color:#3280FC;
	font-size:15px;
}
#buttons .mbtn_2011:visited{
	background-color:#3280FC;
}
#buttons .mbtn_2015{
	background-color:#3280FC;
	font-size:15px;
}
#buttons .mbtn_2015:visited{
	background-color:#3280FC;
}
#buttons .mbtn_2017{
	background-color:#3280FC;
	font-size:15px;
}
#buttons .mbtn_2017:visited{
	background-color:#3280FC;
}

#btnButton .mbtn_2013{
	background-color:#03B8CF;
	font-size:15px;
}
#btnButton .mbtn_2013:visited{
	background-color:#03B8CF;
}
#buttons .mbtn_2020{
	background-color:#38B03F;
	font-size:15px;
}
#buttons .mbtn_2020:visited{
	background-color:#38B03F;
}
#buttons .mbtn_2021{
	background-color:#38B03F;
	font-size:15px;
}
#buttons .mbtn_2021:visited{
	background-color:#38B03F;
}
#buttons .mbtn_2022{
	background-color:#38B03F;
	font-size:15px;
}
#buttons .mbtn_2022:visited{
	background-color:#38B03F;
}
#buttons .mbtn_2014{
	background-color:#38B03F;
	font-size:15px;
}
#buttons .mbtn_2014:visited{
	background-color:#38B03F;
}
#buttons .mbtn_2000{
	background-color:#F1A325;
	font-size:15px;
}
#buttons .mbtn_2000:visited{
	background-color:#F1A325;
}
#buttons .mbtn_2016{
	background-color:#F1A325;
	font-size:15px;
}
#buttons .mbtn_2016:visited{
	background-color:#F1A325;
}
#buttons .mbtn_2012{
	background-color:#F1A325;
	font-size:15px;
}
#buttons .mbtn_2012:visited{
	background-color:#F1A325;
}
#buttons .mbtn_2010{
	background-color:#F1A325;
	font-size:15px;
}
#buttons .mbtn_2010:visited{
	background-color:#F1A325;
}
#buttons .mbtn_2009{
	background-color:#F1A325;
	font-size:15px;
}
#btnButton .mbtn_2009:visited{
	background-color:#F1A325;
}
#buttons .mbtn_2018{
	background-color:#F1A325;
	font-size:15px;
}
#buttons .mbtn_2018:visited{
	background-color:#F1A325;
}
#buttons .mbtn_2007{
	background-color:#F1A325;
	font-size:15px;
}
#buttons .mbtn_2007:visited{
	background-color:#F1A325;
}
#buttons .mbtn_2019{
	background-color:#F1A325;
	font-size:15px;
}
#buttons .mbtn_2019:visited{
	background-color:#F1A325;
}
#buttons .mbtn_2005{
	background-color:#F1A325;
	font-size:15px;
}
#buttons .mbtn_2005:visited{
	background-color:#F1A325;
}
#buttons .mbtn_2006{
	background-color:#F1A325;
	font-size:15px;
}
#buttons .mbtn_2006:visited{
	background-color:#F1A325;
}
.ui-link{
	text-decoration:none;
}
.ui-select span{
    word-wrap: break-word;
    word-break: break-all;
}
		.ui-navbar ul li{
			padding-right: 0px;
			padding-left: 0px;}
		.choose_div{
			height:auto;}
		.choice-list{
			list-style:none;
			margin-top:3px;
			margin-left:-40px;}
		.choice-list li:hover {
    		background-color: #FFF;
    		border-color: #C4C4C4;
   	 		box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);}
   	 	.choice-list li {
    		padding: 5px 5px;
    		margin: 0px 0px 3px 6px;
    		line-height: 25px;
    		cursor: default;
    		border: 1px solid #DDD;
    		border-radius: 3px;
    		font-size:16px;
    		float:left;}
    	.choice-list a {
    		text-decoration: none;
    		color: #666;
    		font-family: Aril;
    		cursor: pointer;
    		margin-left:5px;}