<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

<style type="text/css">
	.select_select2_main{margin: 10px;padding: 10px;}
	.js-example-data-sqlsay{width: 400px;}
	.textarea{font-size: 15px;font-weight: bolder; width: 1300px;height: 150px;}
</style>
</head>
<body>
<div>
<textarea id="sql" class="textarea">
SELECT a.code  as id,a.name as text FROM test_province a;
SELECT a.code  as id,a.name as text FROM test_city a WHERE a.provinceId=:provinceId;
SELECT a.code  as id,a.name as text FROM test_area a WHERE  a.cityId=:cityId 
</textarea>
<br>
<textarea class="textarea" id="name">provinceId;cityId;id</textarea>
<br>
<textarea class="textarea" id="label">省：;市：;县：</textarea>
<button class="btn btn-primary" id="create">生成</button>
</div>
<div class="select_select2_main"></div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript" src="../../../../venson/js/common.js"></script>
<script type="text/javascript" src="../../../../venson/js/multilevelLinkage.js"></script>
<script type="text/javascript">
	$("#create").click(function(){
		$(".select_select2_main").html("");
		//sql参数
		var sql=$("#sql").val();
		//名称参数
		var name=$("#name").val();
		//标签参数
		var label=$("#label").val();
		var option={name:name,sql:sql,label:label};
		new multilevelLinkage(option);
	})
	
</script>
</body>
</html>