@charset "utf-8";
/* CSS Document */
/*================================导入的弹出框=================================================*/
.clos{ 
    float:right; 
    margin-top:8px; 
    margin-right:8px;
}
.title{ 
    width:922px;
    height:38px;
    border-bottom:#b11810 solid 2px;
    margin:22px 20px 0 20px;
    font-size:22px;
    color:#b11810; 
    font-weight:600; 
    font-family:'微软雅黑'; 
}
.jichuxinxi{
    width:962px; 
    height:auto; 
    background:#ffffff; 
    border:#fff solid 2px; 
    position:relative;
    font-size:16px;
    font-family:'微软雅黑';
    overflow-x: hidden
}

.content{ 
    margin-top:46px; 
    font-size:16px;  
    font-family:'微软雅黑';  
    color:#333;
}
.input{
    height:52px; 
    width:922px;
}
.input_left{
    display:block; 
    float:left;
    width:254px; 
    height:34px; 
    text-align:right; 
    line-height:30px;
}
.input_right{ 
    display:block; 
    float:left;
    width:291px;
    height:34px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px; 
    border:#cccccc solid 1px;
 }
.upload{
    width:962px;
    height:auto;
    margin-top:20px;
}
.upload .upload-top{
    width:962px;
    height:70px;
}
.upload .upload-top-left{
    float:left;
    width:242px;
    height:70px;
    text-align:right;
    line-height:70px;
    font-size:16px;
    font-family:'微软雅黑';
}
.upload .upload-top-right{
    float:left;
    width:700px;
    height:70px;
    margin-left:10px;
}

.upload .upload-top-right .file-totle{
    float:left;
    width:90%;
    height:35px;
    line-height:40px;
    border-bottom:1px solid #ccc;
    position:relative;
}
.upload .upload-top-right .file-totle input{
    display: inline-block;
    position: absolute;
    top: -5px;
    right:-10px;
    width:110px;
    opacity:0;
}
.upload .upload-top-right .file-shade{
    width: 80px;
    height:36px;
    border:1px solid #ccc;
    position: absolute;
    top: -5px;
    right:20px;
    background:#35a4fd;
    /*padding:8px;*/
    color:#fff;
}
.upload .upload-top-right .file-info{
    float:left;
    width:100%;
    height:34px;
    line-height:34px;
}
.upload .upload-top-right .file-info p{
    display:inline-block;
}
.upload .upload-bottom{
    width:100%;
    height:auto;
    margin-top:10px;
}
.upload .upload-bottom .upname{
    display: inline-block;
    width:400px;
    margin-left:255px;
    margin-bottom:10px;
}
.upload .upload-bottom .upsize{
    display: inline-block;
    width:120px;
    margin-bottom:10px;
}
.upload .upload-bottom .upchose{
    display: inline-block;
    width:70px;
    margin-bottom:10px;
}
.sure{
    width:100%;
    height:50px;
    padding-top:10px;
    text-align:center;
}
.sure .btn{
    width:90px;
    height:35px;
    border:1px solid #ccc;
    background:#32a5fe;
    border-radius:5px;
    color:#fff;
    font-size:16px;
    outline: none;


}
.sure .btn1{
    margin-right:100px;
}

/*============================================用户详细信息编辑样式==================================================*/

.mesgedit{
    width:960px;
    height: 100%;
/*    background:#fff;*/
}
.mesgedit .con2{
    width:75%;
    margin-left: 15%;
    height: auto;
    background: #fff;
    padding-top: 20px;
    font-size: 16px;
}
.con2 .con2-left{
    float:left;
}
.con2 .con2-right{
    float:right;
}
.con2 .spa{
    width:120px;
    display: inline-block;
    text-align: right;
}
.con2 .spa span{
    color:#b01711;
}
.con2 div{
    width:100%;
    height: 55px;
}
.con2 input{
    outline: none;
    width:195px;
    height: 35px;
    border:1px solid #ccc;
    border-radius: 5px;
}
.con2 .rad{
    width:20px;
    height: 17px;
    float:left;
    margin-left: 40px;
}
.con2  button{
    width:100px;height:35px;background:#32a5fe;border-radius:5px;border:1px solid #ccc;color:#fff
}